@import "variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass/assets/stylesheets/bootstrap/mixins";
//@import "bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
//@import "bootstrap-sass/assets/stylesheets/bootstrap/type";

.vue-visual-markdown /deep/ .toolbar {
  @import "bootstrap-sass/assets/stylesheets/bootstrap/buttons";
  @import "bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
  @import "bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
  @import "bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";

  .btn {
    margin-right:  0px;
  }
}
.vue-visual-markdown /deep/ .form {
  width: 100%;

  @import "bootstrap-sass/assets/stylesheets/bootstrap/forms";
  
  .texteditor {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

//@import "bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";
//

// Utility classes
//@import "bootstrap/utilities";
//@import "bootstrap/responsive-utilities";