<div role="group"
  :class="['btn-group', 'dropdown', {'open': isopen}]"
  v-click-outside="clickOutside">
  <button
    class="btn btn-default dropdown-toggle"
    v-on:click="switchOpen">
    <font-awesome-icon :icon="button.icon" />
  </button>
  <ul class="dropdown-menu" aria-labelledby="headerButton">
    <li>
      <input class="autocomplete" v-model="autocomplete">
    </li>
    <li v-for="line in liveItems"
      v-on:mousedown="select($event, line)">
      <span v-html="preview(line)"></span>
    </li>
  </ul>
</div>
